#terrain {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  /* zoom: 125%; */
}
#player {
  z-index: 1;
  left: 0;
  top: 0;
  position: absolute;
  /* zoom: 125%; */
}
#fauna {
  z-index: 1;
  left: 0;
  top: 0;
  position: absolute;
  /* zoom: 125%; */
}
#item {
  z-index: 1;
  left: 0;
  top: 0;
  position: absolute;
}
#cli {
  z-index: 2;
  left: 0;
  top: 0;
  position: absolute;
}
body {
  background-color: rgb(0, 75, 150);
  height: 100%;
  overflow: hidden;
  color: aliceblue;
}
#text {
  z-index: 3;
  left: 0;
  top: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  border: none;
  color: rgba(0, 0, 0, 0);
  resize: none;
  overflow: hidden;
  height: 2000;
  width: 2000;
}
